<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Index Page</h1>
        <ul class="list-group mt-3">
            <li class="list-group-item"><a href="{% url 'portfolio_list' %}">Portfolio List</a></li>
            <li class="list-group-item"><a href="{% url 'portfolio_detail' pk=1 %}">Portfolio Detail (Example ID: 1)</a></li>
            <li class="list-group-item"><a href="{% url 'portfolio_data' %}">Portfolio Data API</a></li>
            <li class="list-group-item"><a href="{% url 'excel_upload' %}">Upload Excel File</a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>