<!DOCTYPE html>
<html>
<head>
    <title>Portafolios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Portafolios</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor Inicial</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% for portfolio in portfolios %}
                <tr>
                    <td>{{ portfolio.nombre }}</td>
                    <td>{{ portfolio.valor_inicial|floatformat:2 }}</td>
                    <td><a href="{% url 'portfolio_detail' portfolio.id %}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>